.logo-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #090909, #131313);
    padding: 40px 20px;
}

.logo-equipo {
    max-height: 450px;
    width: auto;
    height: auto;
}

.quienes-somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 60px 10%;
    background: linear-gradient(to bottom, #0b0b0b, #222);
}

.quienes-somos .texto {
    flex: 2;
}

.quienes-somos h2 {
    color: #C11415;
    font-size: 3rem;
    margin-bottom: 20px;
}

.quienes-somos p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #f2f2f2;
}

.quienes-somos .cita {
    width: 100%;
    font-size: 0.9rem;
    font-style: italic;
    color: #f2f2f2;
    border-left: 4px solid #DDB764;
    padding-left: 10px;
}

.quienes-somos .imagen {
    flex: 0 0 350px;
    height: 350px;
    width: 100%;
    max-width: 350px;
    background-color: #ccc;
}

.equipo {
    background-color: #111;
    padding: 80px 10%;
}

.texto-equipo {
    font-size: 2.5rem;
    margin-bottom: -20px;
    color: #f2f2f2;
}

.texto-equipo2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #DDB764;
}

.tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.tarjeta-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f2f2f2;
}

.tarjeta {
    background-color: #222;
    flex: 1;
    min-height: 330px;
    min-width: 200px;
    max-width: 220px;
    padding: 20px;
    border-radius: 105px 105px 0 0;
    text-align: center;
    margin-bottom: 20px;
}

.tarjeta h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #fff;
}

.tarjeta p {
    font-size: 0.9rem;
    color: #ccc;
}

@media (max-width: 1024px) {
    .quienes-somos {
        gap: 50px;
        padding: 40px 8%;
    }

    .quienes-somos h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .logo-section {
        height: 50vh;
        padding: 20px;
    }

    .logo-equipo {
        max-height: 100%;
        max-width: 90%;
        width: auto;
        height: auto;
    }

    .quienes-somos {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        padding: 40px 5%;
    }

    .quienes-somos .imagen {
        height: 250px;
        max-width: 100%;
    }

    .quienes-somos .texto{
        padding: 0 25px 0 25px;
    }

    .quienes-somos p{
        text-align: justify;
    }

    .quienes-somos h2 {
        font-size: 1.7rem;
    }


    .equipo {
        padding: 40px 5%;
    }

    .tarjeta {
        min-height: 450px;
        min-width: 290px;
        border-radius: 135px 135px 0 0;
    }
    .texto-equipo{
        padding: 0 25px 0 25px;
        font-size: 2.2rem;
    }
    .texto-equipo2 {
    padding: 0 25px 0 25px;
    font-size: 1.9rem;
}
}

@media (max-width: 480px) {
    .quienes-somos h2 {
        font-size: 1.7rem;
    }

    .quienes-somos p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .tarjeta {
        min-width: 270px;
        max-width: 100%;
    }
}
